.bandeau {
    width: 100%;
    height: 180px;
    background-color: antiquewhite;
    border: 3px solid black ;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-weight: bold;
    font-family: "Gill Sans Extrabold", sans-serif;
    border-radius: 10px;
}
.bandeau2 {
    width: 100%;
    height: 180px;
    background-color: lightblue;
    border: 3px solid black ;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-weight: bold;
    font-family: system-ui;
}
.drapeau {
    text-align: center;
    height: 100%;
}

.button1 {
    background-color: black;
    color: white;
    border-radius: 8px;
    font-family: "Monaco", sans-serif;
    font-size: 20px;
}

.button2 {
    border-radius: 8px;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.img {
    user-select: none;
    height: 90%;
    border-radius: 10px;
    margin-top : 3%;
}

#score {
    font-family: "Impact", sans-serif;
    font-size: 40px;
}

.mapsl path {
    fill:black;
}
.mapsl2 path {
    fill:black;
    opacity: 0.07;
}
#countdown {
    position: relative;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
}
#countdown-number {
    color: black;
    display: inline-block;
    line-height: 40px;
}
#mySvg{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: black;
    fill: none;
    animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}

.mapsl :hover {
    fill: blue;
}
.mapsl2 :hover {
    fill: blue;
}
.check:after {
    fill: green;
}
